.box{
    max-width: 1900px;
}
.container{
    border-radius: 1%;
    height:600px;
    width: 85%;

}
 .container:hover {
    background-color: rgb(209, 235, 184);
  }
.card{
    float: left;
    margin: 10px 10px 10px 10px;
    width: 25%;
    height: 25%;
    background-color: #ffffff;
    border-radius: 4%;
    box-shadow: 1px 1px 1px 1px #434b48;
    margin-left: 10px;
}
.container_{
    border-radius: 1%;
    height: 600px;
    width: 85%;
}
@media (max-width: 1900px){
    .container{
        max-width: 970px;
    }
    .container_{
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container{
        max-width: 750px;
    }
    .container_{
        max-width: 750px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: none;
    }
    .container_{
        max-width: none;
    }
}

.container_:hover {
    background-color: rgb(152, 211, 219);
  }
.continer{
    background-color: rgb(197, 243, 155);
    margin-left: 100px;
    margin-right: 100px;
}
.inner{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 30px;
    padding-left: 5px;
}
.button {
    background-color: #cdddd7; /*green*/
    border: none;
    color: #6bcaa2;
    margin-left: 10px;
    padding: 5px 16px;
    margin: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: inline-block;
    font-size: 15px;
    font-family: system-ui;
    box-shadow: 1px 1px 1px 1px #434b48;
    text-shadow: 5px 5px  #a3bdb4;
}
.qwq{
    font-family:  'Courier New', Courier, monospace;
}
.vanai{
    font-family:  'Courier New', Courier, monospace;
    padding-left: 10px;
}
.aid{
    font-family:  'Courier New', Courier, monospace;
    padding-left: 10px;
}
.anton{
    font-family:  'Courier New', Courier, monospace;
    padding-left: 50%;
}
.txt{
    font-size: 15px;
    font-family:  'Courier New', Courier, monospace;
    margin-left: 16px;
    padding-right: 10px;
}

































h1 {
    font-family: system-ui;
    text-align: center;
    text-shadow: 5px 5px  #4f796b;
}
h3 {
    font-family: serif;
    text-align: initial;
    text-shadow: 5px 5px  #4f796b;
}
a {
    color: #e1caca;
    text-decoration: none;
   }
   a:visited {
    color: #c5616b;
   } 
   a:hover {
    color: #d1909c;
    text-decoration: underline;
   }
ul {
    list-style-type: square;
}
